<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>Restro | Home</title>
</head>

<body>
    <%- include('../partials/navbar.ejs') %>
        <h1>Admin page</h1>

        <h2>Manage Orders</h2>

        <%- include('../partials/scripts.ejs') %>
</body>

</html>