<nav class="navbar fixed-top navbar-expand-lg bg-dark bg-body-tertiary mt-5 z-1" data-bs-theme="dark">
    <div class="container-fluid ">
        <div class="collapse navbar-collapse d-flex justify-content-center gap-2" id="navbarNav">
            <% categories.forEach(category=> { %>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form action="/menu" method="get">
                            <input type="hidden" name="category" value="<%= category %>">
                            <button type="submit" class="btn btn-info">
                                <%= category %>
                            </button>
                        </form>
                    </li>
                </ul>

                <% }) %>
        </div>
        <form class="d-flex" role="search" action="/menu" method="get">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" />
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>

</nav>