<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Restro | Home</title>
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <div class="container mt-6 box-shadow">
            <h1>Home page</h1>
            <ol>
                <li>Go to Menu</li>
                <li>Choose Your items</li>
                <li>Add any instructions if u want</li>
                <li>Click on checkout</li>
                <li>Mark your orderId and tableId</li>
                <li>Ask Admin for Bill</li>
            </ol>

            <% if (locals.message) { %>
                <h1>
                    <%= message %>
                </h1>
                <% } %>
        </div>

        <%- include('./partials/scripts.ejs') %>
</body>

</html>