<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
        <title>Restro | Login</title>


</head>

<body>
    <div class="d-flex justify-content-center align-items-center vh-100 flex-column ">
        <div class="box-shadow w-25 p-4">
            <h1>RESTRO Cafe</h1>

            <div class="box-shadow w-auto p-4">
                <h1>Login</h1>
                <%- include('./partials/message.ejs') %>
                    <form action="/login" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                                name="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <!-- <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div> -->
                        <button type="submit" class="btn btn-primary ">Login</button>
                        <p>Don't have an Account? <a href="/register">Register</a></p>

                    </form>
            </div>
        </div>



    </div>
    <%- include('./partials/scripts.ejs') %>
        <script>
            // script.js File 
            var passwordInput = document.getElementById("password");
            var passwordMessageItems = document.getElementsByClassName("password-message-item");
            var passwordMessage = document.getElementById("password-message");


            passwordInput.onfocus = function () {
                passwordMessage.style.display = "block";
            }

            // After clicking outside of password input hide the message
            passwordInput.onblur = function () {
                passwordMessage.style.display = "none";
            }

            passwordInput.onkeyup = function () {
                // checking uppercase letters
                let uppercaseRegex = /[A-Z]/g;
                if (passwordInput.value.match(uppercaseRegex)) {
                    passwordMessageItems[1].classList.remove("invalid");
                    passwordMessageItems[1].classList.add("valid");
                } else {
                    passwordMessageItems[1].classList.remove("valid");
                    passwordMessageItems[1].classList.add("invalid");
                }

                // checking lowercase letters
                let lowercaseRegex = /[a-z]/g;
                if (passwordInput.value.match(lowercaseRegex)) {
                    passwordMessageItems[0].classList.remove("invalid");
                    passwordMessageItems[0].classList.add("valid");
                } else {
                    passwordMessageItems[0].classList.remove("valid");
                    passwordMessageItems[0].classList.add("invalid");
                }

                // checking the number
                let numbersRegex = /[0-9]/g;
                if (passwordInput.value.match(numbersRegex)) {
                    passwordMessageItems[2].classList.remove("invalid");
                    passwordMessageItems[2].classList.add("valid");
                } else {
                    passwordMessageItems[2].classList.remove("valid");
                    passwordMessageItems[2].classList.add("invalid");
                }

                // Checking length of the password
                if (passwordInput.value.length >= 8) {
                    passwordMessageItems[3].classList.remove("invalid");
                    passwordMessageItems[3].classList.add("valid");
                } else {
                    passwordMessageItems[3].classList.remove("valid");
                    passwordMessageItems[3].classList.add("invalid");
                }
            }
        </script>
</body>

</html>