<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restro | Register</title>
</head>

<body>
    <h1>Register</h1>
    <form action="/register" method="post">
        <fieldset>
            <label for="username">Username:</label>
            <input type="username" name="username" id="username" required>
        </fieldset>
        <fieldset>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
        </fieldset>
        <fieldset>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </fieldset>
        <button type="submit">Create Account</button>
    </form>
    <p>Already have an Account?</p>
    <a href="/login">Login</a>
</body>

</html>